<section class="container">
  <form [formGroup]="courseForm" (ngSubmit)="onSubmit(courseForm)" class="form">
    <header>Create Course</header>
    <div class="input-box">
      <label>Course Title</label>
      <input
        type="text"
        formControlName="title"
        placeholder="Enter Course title"
      />
    </div>
    <div class="input-box">
      <label>Description</label>
      <textarea
        id="description"
        formControlName="description"
        class="border-2 border-gray-300 rounded-lg w-full mt-5"
        rows="4"
        placeholder="Enter course description"
      ></textarea>
    </div>
    <div class="column">
      <div class="input-box">
        <label>Category</label>
        <input
          type="text"
          formControlName="category"
          placeholder="Enter Category"
        />
      </div>
      <div class="input-box">
        <label>Price</label>
        <input
          type="number"
          formControlName="price"
          placeholder="Enter Price"
        />
      </div>
    </div>
    <div class="input-box">
      <label>Course Thumbnail</label>
      <input
        id="thumbnail"
        type="file"
        accept=".png"
        (change)="onFileChange($event)"
      />
    </div>
    <button type="submit">Create course</button>
  </form>
</section>
