<div class="mt-40 p-5">
  <h1 class="text-6xl font-bold border-b-2 border-gray-300 mb-5">
    Course Details
  </h1>
  <div class="flex">
    <div class="w-[50%] p-4">
      <!-- Course Details Section -->
      <div class="bg-white shadow-md rounded-lg overflow-hidden mb-6 w-full">
        <!-- Course Thumbnail -->
        <img
          class="w-full h-96 object-cover"
          [src]="course.thumbnail"
          [alt]="course.title"
        />

        <!-- Course Information -->
        <div class="p-6">
          <h1 class="text-3xl font-bold mb-4 text-gray-800">
            {{ course.title }}
          </h1>
          <p class="text-gray-700 mb-4">{{ course.description }}</p>

          <div class="flex items-center mb-4">
            <span
              class="inline-block bg-blue-200 text-blue-800 px-4 py-1 rounded-full mr-2"
            >
              #{{ course.category }}
            </span>
            <span
              class="inline-block bg-green-200 text-green-800 px-4 py-1 rounded-full"
            >
              ${{ course.price }}
            </span>
          </div>

          <div class="text-gray-600">
            <span>Trainer ID: {{ course.trainerId }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-1">
      <div class="flex justify-between p-5">
        <h1 class="text-4xl font-bold">Modules</h1>
        <a
          class="bg-blue-500 rounded-lg px-5 py-2 cursor-pointer text-white"
          [routerLink]="['/create-module', courseId]"
          >Add Module</a
        >
      </div>
      <div class="p-5" *ngIf="course.modules.length > 0; else noCourse">
        <h1 class="text-4xl font-bold">Modules</h1>
        <div class="space-y-3 mt-5">
          <div *ngFor="let module of course.modules">
            <div class="w-full bg-gray-200 p-5 rounded-xl flex justify-between">
              <p>{{ module.title }}</p>
              <div class="space-x-3 flex">
                <button class="bg-blue-400 px-5 py-2 rounded-xl cursor-pointer">
                  Edit
                </button>
                <button class="bg-red-500 px-5 py-2 rounded-xl cursor-pointer">
                  Delete
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-template #noCourse>
        <div class="p-5">
          <h1 class="font-bold text-2xl">No Modules</h1>
          <p>Please add Modules</p>
        </div>
      </ng-template>
    </div>
  </div>
</div>
