<div class="container">
  <div class="login form">
    <header>Register</header>
    <form [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm)">
      <input
        type="text"
        formControlName="FirstName"
        placeholder="Enter your First Name"
      />
      <input
        type="text"
        formControlName="LastName"
        placeholder="Enter your Last Name"
      />
      <input
        type="text"
        formControlName="Email"
        placeholder="Enter your email"
      />
      <input
        type="password"
        formControlName="PasswordHash"
        placeholder="Enter your password"
      />
      <select
        formControlName="Role"
        class="w-full p-5 mt-2 bg-white border-2 border-black h-16"
      >
        <option value="LEARNER">LEARNER</option>
        <option value="TRAINER">TRAINER</option>
      </select>
      <input type="submit" class="button" value="Register" />
    </form>
    <div class="signup">
      <span class="signup"
        >Already have an account?
        <a routerLink="/login">Login</a>
      </span>
    </div>
  </div>
</div>
