<div class="mt-40 p-5">
  <div>
    <div class="p-4">
      <!-- Right Section: Modules List and Video Player -->
      <div class="flex-1">
        <div class="flex justify-between p-5">
          <h1 class="text-6xl dont-mono font-bold">{{ course.title }}</h1>
        </div>

        <!-- Video Player -->
        <div class="p-5" *ngIf="selectedVideoUrl; else noVideo">
          <video
            [src]="selectedVideoUrl"
            controls
            class="w-full h-[30vh] rounded-xl"
            autoplay
          ></video>
        </div>

        <ng-template #noVideo>
          <div class="p-5">
            <h2 class="font-bold text-2xl">
              Select a module to play the video.
            </h2>
          </div>
        </ng-template>

        <!-- Modules List -->
        <div class="p-5" *ngIf="course.modules.length > 0; else noCourse">
          <h1 class="text-4xl font-bold">Modules</h1>
          <div class="space-y-3 mt-5">
            <div *ngFor="let module of course.modules">
              <div
                class="w-full bg-gray-200 p-5 rounded-xl flex justify-between"
              >
                <p>{{ module.title }}</p>
                <div class="space-x-3 flex">
                  <!-- When module is clicked, load video -->
                  <button
                    (click)="playVideo(module.videoUrl)"
                    class="bg-blue-400 px-5 py-2 rounded-xl cursor-pointer"
                  >
                    Play Video
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <ng-template #noCourse>
        <div class="p-5">
          <h1 class="font-bold text-2xl">No Modules</h1>
          <p>Please add Modules</p>
        </div>
      </ng-template>
    </div>
  </div>
</div>
